USE 教務系統 
GO
SELECT 學號, 姓名, YEAR(生日) AS 年份, 電話
FROM 學生












 































































