USE 教務系統 
GO
SELECT * FROM 課程
WHERE LEN(名稱) = 4














 































































