USE 教務系統 
GO
DECLARE @total int
SET @total = (SELECT SUM(學分) FROM 課程)
PRINT '學分數:' + CAST(@total AS char)


 





 































































