USE 教務系統 
GO
CREATE VIEW 課程_高學分
AS SELECT * FROM 課程
WHERE 學分 >= 4
GO
SELECT * FROM 課程_高學分


















 































































