USE 教務系統 
GO
DELETE FROM 課程
WHERE 課程編號 = 
    ( SELECT 課程編號 FROM 課程備份
      WHERE 名稱 = '平行程式設計')
 































































