USE 教務系統 
GO
SELECT 教授編號, 學號, 課程編號, 教室, 
    DATEPART(Hour, 上課時間) AS 上課時間
FROM 班級






























































