USE 教務系統 
GO
SELECT 身份證字號, 姓名, 薪水
FROM 員工 
ORDER BY 身份證字號
OFFSET 3 ROWS
FETCH NEXT 5 ROWS ONLY

























































