USE 教務系統 
GO
SET ANSI_NULLS, ANSI_PADDING,
    ANSI_WARNINGS, ARITHABORT,
    CONCAT_NULL_YIELDS_NULL,
    QUOTED_IDENTIFIER ON
SET NUMERIC_ROUNDABORT OFF
GO
SELECT 學號, 教室, 上課數
FROM 學生上課教室_檢視 
WHERE 學號 = 'S001'
 

















 































































