USE 教務系統 
GO
SELECT 產品編號 FROM 估價單
WHERE 平均單價 BETWEEN 100.00 AND 200.00



















 































































