USE 教務系統 
GO
SELECT *
FROM 教授
WHERE 科系 = 'CS'

















 































































