USE 教務系統 
GO
CREATE TABLE 熱銷產品 (
   產品編號  char(5)    NOT NULL PRIMARY KEY ,
   產品名稱  varchar(30) UNIQUE ,
   定價      money
)












 































































