USE 教務系統 
GO
ALTER INDEX ALL ON 員工
REBUILD WITH (FILLFACTOR = 80)
















 































































