USE 教務系統 
GO
SELECT 電話
FROM 學生
WHERE 姓名 = '陳會安'

















 































































