USE 教務系統 
GO
CREATE INDEX 員工姓名_索引 
ON 員工(姓名)
INCLUDE (電話, 薪水)














 































































