USE 教務系統 
GO
ALTER INDEX 員工姓名_索引
ON 員工
DISABLE

















 































































