USE 教務系統 
GO
ALTER VIEW 學生聯絡_檢視 AS
SELECT 學號, 姓名, 性別, 電話 FROM 學生
GO
SELECT * FROM 學生聯絡_檢視




 































































