USE [master]
GO
IF  EXISTS (SELECT name FROM sys.databases WHERE name='教務系統')
DROP DATABASE [教務系統]
GO
/****** Object:  Database [教務系統]    Script Date: 2022/12/30 下午 03:58:25 ******/
CREATE DATABASE [教務系統]
GO
USE [教務系統]
GO
/****** Object:  Table [dbo].[員工]    Script Date: 2022/12/30 下午 03:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[員工](
	[身份證字號] [char](10) NOT NULL,
	[姓名] [varchar](12) NULL,
	[城市] [char](5) NULL,
	[街道] [varchar](30) NULL,
	[電話] [char](12) NULL,
	[薪水] [money] NULL,
	[保險] [money] NULL,
	[扣稅] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[身份證字號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[班級]    Script Date: 2022/12/30 下午 03:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[班級](
	[教授編號] [char](4) NOT NULL,
	[學號] [char](4) NOT NULL,
	[課程編號] [char](5) NOT NULL,
	[上課時間] [datetime] NULL,
	[教室] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[教授編號] ASC,
	[課程編號] ASC,
	[學號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[教授]    Script Date: 2022/12/30 下午 03:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[教授](
	[教授編號] [char](4) NOT NULL,
	[職稱] [varchar](10) NULL,
	[科系] [varchar](5) NULL,
	[身份證字號] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[教授編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[課程]    Script Date: 2022/12/30 下午 03:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[課程](
	[課程編號] [char](5) NOT NULL,
	[名稱] [varchar](30) NULL,
	[學分] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[課程編號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[學生]    Script Date: 2022/12/30 下午 03:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[學生](
	[學號] [char](4) NOT NULL,
	[姓名] [varchar](12) NOT NULL,
	[性別] [char](2) NULL,
	[電話] [varchar](15) NULL,
	[生日] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[學號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[員工] ([身份證字號], [姓名], [城市], [街道], [電話], [薪水], [保險], [扣稅]) VALUES (N'A123456789', N'陳慶新', N'台北 ', N'信義路', N'02-11111111 ', 80000.0000, 5000.0000, 2000.0000)
INSERT [dbo].[員工] ([身份證字號], [姓名], [城市], [街道], [電話], [薪水], [保險], [扣稅]) VALUES (N'A221304680', N'郭富城', N'台北 ', N'忠孝東路', N'02-55555555 ', 35000.0000, 1000.0000, 800.0000)
INSERT [dbo].[員工] ([身份證字號], [姓名], [城市], [街道], [電話], [薪水], [保險], [扣稅]) VALUES (N'A222222222', N'楊金欉', N'桃園 ', N'中正路', N'03-11111111 ', 80000.0000, 4500.0000, 2000.0000)
GO
INSERT [dbo].[班級] ([教授編號], [學號], [課程編號], [上課時間], [教室]) VALUES (N'I001', N'S001', N'CS101', CAST(N'1900-01-01T12:00:00.000' AS DateTime), N'180-M')
INSERT [dbo].[班級] ([教授編號], [學號], [課程編號], [上課時間], [教室]) VALUES (N'I001', N'S005', N'CS101', CAST(N'1900-01-01T12:00:00.000' AS DateTime), N'180-M')
INSERT [dbo].[班級] ([教授編號], [學號], [課程編號], [上課時間], [教室]) VALUES (N'I001', N'S006', N'CS101', CAST(N'1900-01-01T12:00:00.000' AS DateTime), N'180-M')
GO
INSERT [dbo].[教授] ([教授編號], [職稱], [科系], [身份證字號]) VALUES (N'I001', N'教授', N'CS', N'A123456789')
INSERT [dbo].[教授] ([教授編號], [職稱], [科系], [身份證字號]) VALUES (N'I002', N'教授', N'CS', N'A222222222')
INSERT [dbo].[教授] ([教授編號], [職稱], [科系], [身份證字號]) VALUES (N'I003', N'副教授', N'CIS', N'H098765432')
GO
INSERT [dbo].[課程] ([課程編號], [名稱], [學分]) VALUES (N'CS101', N'計算機概論', 4)
INSERT [dbo].[課程] ([課程編號], [名稱], [學分]) VALUES (N'CS111', N'線性代數', 4)
INSERT [dbo].[課程] ([課程編號], [名稱], [學分]) VALUES (N'CS121', N'離散數學', 4)
GO
INSERT [dbo].[學生] ([學號], [姓名], [性別], [電話], [生日]) VALUES (N'S001', N'陳會安', N'男', N'02-22222222', CAST(N'2003-09-03' AS Date))
INSERT [dbo].[學生] ([學號], [姓名], [性別], [電話], [生日]) VALUES (N'S002', N'江小魚', N'女', N'03-33333333', CAST(N'2004-02-02' AS Date))
INSERT [dbo].[學生] ([學號], [姓名], [性別], [電話], [生日]) VALUES (N'S003', N'張無忌', N'男', N'04-44444444', CAST(N'2002-05-03' AS Date))
GO
ALTER TABLE [dbo].[班級]  WITH CHECK ADD FOREIGN KEY([教授編號])
REFERENCES [dbo].[教授] ([教授編號])
GO
ALTER TABLE [dbo].[班級]  WITH CHECK ADD FOREIGN KEY([課程編號])
REFERENCES [dbo].[課程] ([課程編號])
GO
ALTER TABLE [dbo].[班級]  WITH CHECK ADD FOREIGN KEY([學號])
REFERENCES [dbo].[學生] ([學號])
GO
ALTER TABLE [dbo].[教授]  WITH CHECK ADD FOREIGN KEY([身份證字號])
REFERENCES [dbo].[員工] ([身份證字號])
GO
USE [master]
GO
