USE 教務系統 
GO
INSERT INTO 生日_檢視_沒有WCO 
VALUES ('S016', '江峰', '2003-01-01' )
GO
SELECT * FROM 學生








 































































