USE 教務系統 
GO
INSERT INTO 生日_檢視_有WCO 
VALUES ('S017', '李峰', '2003-04-01' )
GO
UPDATE 生日_檢視_有WCO 
SET 生日 = '2003-01-01' WHERE 學號='S017'
GO
SELECT * FROM 學生









 































































