USE 教務系統 
GO
CREATE VIEW 生日_檢視_有WCO AS
SELECT 學號, 姓名, 生日 FROM 學生 
WHERE 生日 > '2003-03-01'
WITH CHECK OPTION






 































































